.post-choice {
    max-width: 450px;
    min-width: 300px;
    min-height: 280px;
}

.create-post {
    max-width: 1000px;
}

.em2 {
    width: 2em;
    height: 2em;
}

.form-feedback.show {
    display: block;
}

.form-feedback {
    display: none;
}

.align-center {
    text-align: right !important;
}

hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-right: 10rem;
    margin-left: 10rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }