/*Logo*/

.logo {
    margin-top: -45px;
    margin-bottom: -45px;
    margin-left: -55px;
    margin-right: -55px;
}
nav.navbar button.logo-text {
    font-size: 1.5em;
    font-weight: lighter;
    
}

nav.navbar button.logo-text:hover {
    border: 1px solid transparent;
}

nav.nav-bar {
    border: 1px solid #354350 !important;
    
}
/* Botones del navbar generales */

nav.navbar button {
    padding: 10px 5px 10px 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: transparent !important;
    color: #354350 !important;
    
}
nav.navbar button.btn-primary {
    
}

nav.navbar button:hover {
    border: 1px solid transparent;
    border-radius: 0px;
    border-bottom: 1px solid #dfe0e0 !important ;
}

/* Botones de publicar y mi perfil y notificaciones*/

.dropdown {
    width: 58px;
    height: 60px;
}

nav.navbar button.notifications-button{
    margin:     0px !important;
    padding: 0px !important;
}
nav.navbar button.notifications-button:hover{
    border: 1px solid transparent !important;
}

nav.navbar i{
    margin: 10px -5px 10px 10px !important;
    padding: 10px !important;
    border: 1px solid transparent ;
    background-color: #f26519af !important;
}
nav.navbar i:hover{

    border: 1px solid transparent ;

}

nav.navbar button.btn-success {
    margin: 0px 10px 0px 1  0px !important;
    border: 1px solid transparent !important ;
    border-radius: 0px;
    color: #188030   !important;
}

nav.navbar button.btn-success:hover {
    border-bottom: 1px solid #dfe0e0 !important ;
    
}

/* Botones de ingresar y salirse */

nav.navbar button.login-btn {
    border: 1px solid transparent !important ;
    color: #188030   !important;
}

nav.navbar button.logout-btn {
    padding: 10px;
    border: 1px solid transparent !important ;
    color: #b63242 !important;
}

/* Separador */

.divider {
    height: 40px;
    border-left: 1px solid #dfe0e0 ;
    margin: auto 10px auto 10px;
}

.bandaid {
    margin-left: -5px;
}
