.profile {
  max-width: 1180px;
  min-width: 1180px;
}

.margin-right {
  margin-right: 1.75rem;
}
.margin-left {
  margin-left: 1.75rem;
}

.no-padding-left {
  padding-left: 0px !important;
}

.user-props {
  min-width: 200px;
}

.feedback {
  min-height: 600px;
}
.feedback-msg {
  min-height: 40px;
}
.send-btn {
  width: 50px;
}
