.img-fluid {
  border-radius: 10px;
}
.courses-finished {
  height: 500px;
}
.feedback {
  margin-top: 100px;

  height: 560px;
}
.comment {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 80%;
}
